body {
  background: #25A9FC;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 4%;
  width: 600px;
  height: 420px;
  background: none;
  
  /* border used for development */
  /* border: solid 4px white; */
}

.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 66%;
  background: #A6BECF;
  border-radius: 50%;
}

/* this is created to allow us to put the ears behind the head. */
.head-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.ear-left {
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  z-index: 1;
}

.ear-right {
  position: absolute;
  background: #A6BECF;
  border-radius: 50%;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  z-index: 1;
}

.inner-ear {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #F1A9A0;
}

.eye-left {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 15%;
  border-radius: 50%;
  z-index: 3;
}

.eye-right {
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 15%;
  border-radius: 50%;
  z-index: 3;
}

.pupil {
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}

.mouth {
  position: absolute;
  background: #F64747;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 50px;
  width: 100px;
  ;
  top: 70%;
  left: 32%;
  z-index: 3;
}

.nose {
  position: absolute;
  background: #6C7A89;
  width: 25%;
  height: 20%;
  left: 37%;
  top: 45%;
  border-radius: 50%;
  z-index: 3;
}