.mustache {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  color: #000000;
  left: 100px;
  box-shadow: 150px 240px 0 0 currentColor, 300px 240px 0 0 currentColor;
}

.mustache::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 120px;
  top: 120px;
  left: 30px;
  border-bottom: solid 180px currentColor;
  border-radius: 0 0 0 100%;
  transform: rotate(320deg);
  transform-origin: right 210px;
}

.mustache::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 120px;
  top: 120px;
  left: 390px;
  border-bottom: solid 180px currentColor;
  border-radius: 0 0 100% 0;
  transform: rotate(40deg);
  transform-origin: left 210px;
}
